@using CourierManagementSystem.Services.AuthService.Interfaces
@inject IUserInfoes userInfo
@{
    var userInfos = await userInfo.GetUserInfoByUser(User.Identity.Name);
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] Courier Management</title>

    <link rel="shortcut icon" href="" type="image/x-icon" />

    <link href="~/CustomSelectOption/select2.min.css" rel="stylesheet" />
    <link href="~/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom Date Picker-->
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this page -->

    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    @*<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">*@

    @*<link href="~/LayoutAssets/css/font-awesome.min.css" rel="stylesheet" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />

    <!-- THIS LINE -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style>
        body {
            font-size: 11pt !important;
        }

        table .btn {
            font-size: 8pt !important;
            padding: 3px 5px 3px 5px !important;
        }

        table th, table td {
            /*padding: 2px 2px 2px 2px !important;*/
            color: black !important;
            font-weight: normal !important;
        }

        .col-form-label {
            color: #606066 !important;
            font-weight: normal !important;
            padding: 0 0 0 0;
        }

        .form-control {
            color: #606066 !important;
            font-size: 10pt !important;
            padding: 1px 20px 1px 8px;
            border: 1px solid #606066;
            height: 30px;
        }

        .form-group {
            margin-bottom: 6px !important;
        }

        /*Parsly  Section*/
        input.parsley-success,
        select.parsley-success,
        textarea.parsley-success {
            color: #468847;
            background-color: #DFF0D8;
            border: 1px solid #D6E9C6;
        }

        input.parsley-error,
        select.parsley-error,
        textarea.parsley-error {
            color: #B94A48;
            background-color: #F2DEDE;
            border: 1px solid #EED3D7;
        }

        .parsley-errors-list {
            margin: 2px 0 3px;
            padding: 0;
            list-style-type: none;
            font-size: 0.9em;
            line-height: 0.9em;
            opacity: 0;
            transition: all .3s ease-in;
            -o-transition: all .3s ease-in;
            -moz-transition: all .3s ease-in;
            -webkit-transition: all .3s ease-in;
        }

            .parsley-errors-list.filled {
                opacity: 1;
            }

        .parsley-type, .parsley-required, .parsley-equalto {
            color: #ff0000;
        }
        /*Parsly  Section*/

        .btnCustom {
            background-color: #004474;
        }

        .ui-autocomplete {
            cursor: pointer;
            height: 400px;
            width: 300px;
            overflow-y: scroll;
            z-index: 1050;
        }

        .buttons-excel {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: #fff;
            background-color: #36b9cc;
            border-color: #36b9cc;
        }

        .buttons-print {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: #fff;
            background-color: #1cc88a;
            border-color: #1cc88a;
        }

        .buttons-csv {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: white !important;
            background-color: green !important;
            border: 1px solid green !important;
        }

        .identity-box {
            color: black;
            font-weight: bolder;
            text-align: right;
            background: #d4d6d8;
            padding: 5px;
            border-radius: 5px;
        }

        .identity-box-center {
            color: black;
            font-weight: bolder;
            text-align: center;
            background: #eff2f4;
            padding: 5px;
            border-radius: 5px;
        }



        /*Notification*/
        .notification a {
            text-decoration: none;
            color: black;
        }

            .notification a:hover {
                text-decoration: none;
            }

            .notification a:visited {
                color: black;
            }

        .notification .box::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
            border-radius: 5px
        }

        .notification .box::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
            border-radius: 5px
        }

        .notification .box::-webkit-scrollbar-thumb {
            background-color: black;
            border: 2px solid black;
            border-radius: 5px
        }

        .notification header {
            -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
            box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
            height: 110px;
            vertical-align: middle;
        }

        .notification h1 {
            float: left;
            padding: 10px 30px
        }

        /*body {
                    margin: 0;
                    padding: 0;
                    font-family: 'Raleway', sans-serif;
                }*/

        .notification .icons {
            display: inline;
            float: right
        }

        .notification {
            padding-top: 20px;
            position: relative;
            display: inline-block;
        }

            .notification .number1 {
                height: 22px;
                width: 22px;
                background-color: #d63031;
                border-radius: 20px;
                color: white;
                text-align: center;
                position: absolute;
                top: 15px;
                left: 60px;
                border-style: solid;
                border-width: 2px;
            }

                .notification .number1:empty {
                    display: none;
                }

            .notification .notBtn {
                transition: 0.5s;
                cursor: pointer
            }

            .notification .fas {
                font-size: 25pt;
                padding-bottom: 10px;
                color: black;
                margin-right: 40px;
                margin-left: 40px;
                animation: color .5s ease-in-out infinite;
            }


            .notification .box {
                width: 400px;
                height: 0px;
                border-radius: 10px;
                transition: 0.5s;
                position: absolute;
                overflow-y: scroll;
                padding: 0px;
                left: -300px;
                margin-top: 5px;
                background-color: #F4F4F4;
                -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
                box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
                cursor: context-menu;
            }

            .notification .fas:hover {
                color: #d63031;
            }

            .notification .notBtn:hover > .box {
                height: 60vh
            }

            .notification .content {
                padding: 20px;
                color: black;
                vertical-align: middle;
                text-align: left;
            }

            .notification .gry {
                background-color: #F4F4F4;
            }

            .notification .top {
                color: black;
                padding: 10px
            }

            .notification .display {
                position: relative;
            }

            .notification .cont {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #F4F4F4;
            }

                .notification .cont:empty {
                    display: none;
                }

            .notification .stick {
                text-align: center;
                display: block;
                font-size: 50pt;
                padding-top: 70px;
                padding-left: 80px
            }

                .notification .stick:hover {
                    color: black;
                }

            .notification .cent {
                text-align: center;
                display: block;
            }

            .notification .sec {
                padding: 25px 10px;
                background-color: #F4F4F4;
                transition: 0.5s;
            }

            .notification .secRead {
                padding: 25px 10px;
                background-color: #D6DBE9;
                transition: 0.5s;
            }

            .notification .profCont {
                padding-left: 15px;
            }

            .notification .profile {
                -webkit-clip-path: circle(50% at 50% 50%);
                clip-path: circle(50% at 50% 50%);
                width: 75px;
                float: left;
            }

            .notification .txt {
                vertical-align: top;
                font-size: 1.25rem;
                padding: 5px;
            }

            .notification .sub {
                font-size: 1rem;
                color: grey;
            }

            .notification .new {
                border-style: none none solid none;
                border-color: #293955;
            }

            .notification .sec:hover {
                background-color: #D6DBE9;
            }
    </style>

    @RenderSection("Style", required: false)
</head>
<body>

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

        <img src="" alt="" />
        <span style="font-weight:900; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 18pt; padding-left: 5px;color:#1d2352;">Welcome To Courier Service Management System</span>
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item no-arrow" style="margin-top: 20px;">
            </li>

            <li>
                <div class="notification" style="z-index:222">
                    <a href="#">
                        
                    </a>
                </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"> </div>
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="width:300px">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group row">
                              
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <div class="col=10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div class="col=4" style="">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-12" style="margin-top:20px;">
                            <div class="form-group row">
                                <div class="col-5" style="margin-left:20px">
                                    <span>Department :</span><br />
                                    <span>Designation :</span><br />
                                    <span>Mobile :</span><br />
                                    <span>Email :</span><br />
                                </div>
                                <div class="col-7" style="margin-left:-20px">
                                  
                                </div>
                            </div>
                        </div>
                        <br /><br /><br />
                        <div class="col-12" style="margin-top:20px">
                            <div class="form-group row">
                                <div class="col-5" style="margin-left:20px">
                                    <span>Joining Date :</span><br />
                                    <span>Job Nature :</span><br />
                                    <span>Job Status :</span><br />
                                </div>
                                <div class="col-7" style="margin-left:-20px">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePasswordModal">
                        <i class="fas fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                        Change Password
                    </a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>


            <li class="nav-item dropdown no-arrow">
                <a href="#">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" style="margin-top:-10px" data-toggle="modal" data-target="#logoutModal">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hello @User.Identity.Name</span>
                    
                    </a>
                <!-- Dropdown - User Information -->
               
                    <div style="width:50px;margin-top:-20px">
                        <div class="row">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </div>
                </a>
            </li>


        </ul>
    </nav>

    <!-- End of Topbar -->
    <div id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
             <!-- Sidebar -->



            <div id="menuk" class="sidenav1" style="background:#ecf0f3">

                <div style="background-color:#ecf0f3;">


                    @*<div style="background-color: #E6E7EE;">*@
                    <div id="scrl" class="NavScrl" style="margin-top:10px;">

                        <ul class="navbar-nav sidebar sidebar-dark accordion navCustom" style="background-color: #ecf0f3;padding-top:-10px;font-size:12px!important" id="accordionSidebar">
                            @if (userInfos?.roleName == "Admin")
                            {
                                    <li class="nav-item btn btn-danger shadow mb-5 p-3 rounded" style="background-color: white; border-radius: 15px!important; padding:0!important; margin-bottom:0px!important; width:200px!important">
                                    <a href="/CourierManagement/CourierManagementDashBord/Index" class="nav-link" id="HomeIcons" onclick="DataLoad(2)">
                                        <span style="font-size:17px;color:#040158;" id="dashboard">Courier Management</span>
                                        </a>
                                    </li>
                                    <li class="nav-item btn btn-danger shadow mb-5 p-3 rounded" style="background-color: white; border-radius: 15px!important; padding:0!important; margin-bottom:0px!important; width:200px!important">
                                        <a href="/CourierManagement/CourierManagementDashBord/CustomerManagementDadBord" class="nav-link" id="HomeIcons" onclick="DataLoad(2)">
                                        <span style="font-size:17px;color:#040158;" id="">Customer Management</span>
                                        </a>
                                    </li>
                                    <li class="nav-item btn btn-danger shadow mb-5 p-3 rounded" style="background-color: white; border-radius: 15px!important; padding:0!important; margin-bottom:0px!important; width:200px!important">
                                        <a href="/CourierManagement/CourierManagementDashBord/ShipperManagementDadBord" class="nav-link" id="HomeIcons" onclick="DataLoad(2)">
                                         <span style="font-size:17px;color:#040158;" id=""> Shipper Management</span>
                                        </a>
                                    </li>


                                    <li class="nav-item btn btn-danger shadow mb-5 p-3 rounded" style="background-color: white; border-radius: 15px!important; padding:0!important; margin-bottom:0px!important; width:200px!important">
                                            <a href="/CourierManagement/CourierManagementDashBord/AdminAllReport" class="nav-link submenu">
                                                <span style="font-size:17px;color:#040158;" id="">Report</span>
                                            </a>
                                     </li>

                                  
                                    
                                

                            }

                            @if (userInfos?.roleName == "Shipper")
                            {
                                <li class="nav-item btn btn-danger shadow mb-5 p-3 rounded" style="background-color: white; border-radius: 15px!important; padding:0!important; margin-bottom:0px!important; width:200px!important">
                                    <a href="/Shipper/Shipper/ShipperAssignDasbord" class="nav-link" id="HomeIcons" onclick="DataLoad(2)">
                                        <span style="font-size:17px;color:#040158;" id="dashboard">Pickup Management</span>
                                    </a>
                                </li>
                              

                            }
                            @if (userInfos?.roleName == "customer")
                            {
                                <li class="nav-item btn btn-danger shadow mb-5 p-3 rounded" style="background-color: white; border-radius: 15px!important; padding:0!important; margin-bottom:0px!important; width:200px!important">
                                    <a href="/CustomerUser/CustomerUser/CustomerAssignDasbord" class="nav-link" id="HomeIcons" onclick="DataLoad(2)">
                                        <span style="font-size:17px;color:#040158;" id="dashboard">Order Management</span>
                                    </a>
                                </li>


                            }



                        </ul>
                    </div>


                </div>



            </div>
            <!-- End of Sidebar -->


            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content" style="background-color:#fff;">
                    <!-- Begin Page Content -->
                    <div class="container-fluid" style="padding: 0 8px;">
                        @RenderBody()
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    @*<span><a href="https://www.opus-bd.com/" target="_blank" style="text-decoration:none;"> OPUS Technology Ltd </a>&copy; @DateTime.Now.Year</span>*@
                </div>
            </div>
        </footer>
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <form asp- method="post" asp-area="Auth" asp-controller="Account" asp-action="Logout" id="logoutForm" class="navbar-right">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button type="submit" onclick="ClearLocalStorage()" class="btn btn-success">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/CustomSelectOption/select2.min.js"></script>
    <!-- Page level plugins -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>
    <!-- Custom Date Picker-->
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    <!-- parsly Validation -->
    <script src="~/js/parsly.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="~/SweetAlert/sweetalert2.common.js"></script>
    <script src="~/SweetAlert/sweetalert2.js"></script>
    <script src="~/js/jquery.autocomplete.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/canvas/jquery.canvasjs.min.js"></script>
    <!-- Comon Ajax Lib -->
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript" src="~/js/jquery.number.js"></script>
    <script type="text/javascript" src="~/js/jquery.number.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/js/site.js"></script>

    <script src="~/vendor/fontawesome-free/js/fontawesome.js"></script>

    <script type="text/javascript">
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            location.reload(true);
        }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            


        });
        function commaSeparateNumber(val) {
            val = val.toString().replace(/,/g, ''); //remove existing commas first
            var valRZ = val.replace(/^0+/, ''); //remove leading zeros, optional
            var valSplit = valRZ.split('.'); //then separate decimals

            while (/(\d+)(\d{3})/.test(valSplit[0].toString())) {
                valSplit[0] = valSplit[0].toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
            }

            if (valSplit.length == 2) { //if there were decimals
                val = valSplit[0] + "." + valSplit[1]; //add decimals back
            } else {
                val = valSplit[0];
            }



            return val;
        }
        function ClearLocalStorage() {
            window.localStorage.clear();
        }

        var BaseUrl = location.host;

    </script>

    <script>
       

        function formatDate2(date) {
            var months = ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            date = new Date(date);
            var year = date.getFullYear(),
                month = date.getMonth() + 1, // months are zero indexed
                day = date.getDate(),
                hour = date.getHours(),
                minute = date.getMinutes(),
                second = date.getSeconds(),
                hourFormatted = hour % 12 || 12, // hour returned in 24 hour format
                minuteFormatted = minute < 10 ? "0" + minute : minute,
                morning = hour < 12 ? "am" : "pm";
            stringDay = day.toString();
            if (day < 10) {
                stringDay = '0' + stringDay;
            }

            return stringDay + "-" + months[month] + "-" + year;
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>