@model CourierManagementSystem.Areas.Shipper.Models.ShipperVM
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fas {
        margin-top: 10px;
        font-size: 25px;
    }

    .active {
        color: darkcyan;
    }

    .c {
        /*min-height: 345px;*/
        background-color: #FDF2E9;
    }

        .c .card-footer {
            height: 50px;
            background-color: #E9F7EF;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /*.cb {
                    height: 194px;
                }*/

        .c .cb {
            transition: .3s all;
            cursor: pointer;
        }

        .c:hover .cb {
            background-color: #D6DBE9;
        }

    #myInput1 {
        width: 50%;
        position: absolute;
        right: 18px;
        box-shadow: none;
    }


    .pagination > li > a,
    .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .pagination > .active > a,
    .pagination > .active > a:focus,
    .pagination > .active > a:hover,
    .pagination > .active > span,
    .pagination > .active > span:focus,
    .pagination > .active > span:hover {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination-container {
        margin: 20px 0;
        display: flex;
        justify-content: flex-end;
    }
</style>


<div class="row clearfix" id="listView">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">Placeed Order list</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="requisitionListTable">
                    <thead>
                        <tr>
                            <th>SL No#</th>
                            <th>ConsignmentNumber</th>
                            <th>OrderPlacedDate</th>
                            <th>Delivery Date</th>
                            <th>Customer Name</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int slno = 0;

                            @foreach (var data in Model.customers)
                            {
                                slno = slno + 1;
                                <tr>
                                    <td>@slno</td>
                                    <td>@data.ConsignmentNumber</td>
                                    <td>@data.OrderPlacedDate?.ToString("dd-MMM-yyyy")</td>
                                    <td>@data.EstimatedDeliveryDate?.ToString("dd-MMM-yyyy")</td>
                                    <td>@data.Name</td>
                                    <td>@data.Address</td>
                                    <td>
                                        <button onclick="ConfirmDeliveredAction('@data.Id')">Delivered</button>
                                    </td>

                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/Assets/paginathing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>


        $(document).ready(function () {

            //$('#fromDate').flatpickr({ dateFormat: "d-M-Y" });
            //$('#toDate').flatpickr({ dateFormat: "d-M-Y" });



            $("#education").addClass("active");
            $('#requisitionListTable').DataTable({
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" + "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        title: 'ERP',
                        messageTop: 'Status List',
                        class: 'btn btn-info'
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel"></i> CSV',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        title: 'ERP',
                        messageTop: 'Status List'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: 'ERP',
                        messageTop: 'Status List',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });

            $('#gridView').show();
            $('#listView').hide();
            $('#gridView').hide();
            $('#listView').show();

            $('.fas').removeClass('active');
            $('.fa-th').addClass('active');
            $('.fas').addClass('active');
            $('.fa-th').removeClass('active');

            $("#myInput1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".searchdiv").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });






        function formatDate(date) {
            var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            date = new Date(date);
            var year = date.getFullYear(),
                month = monthNames[date.getMonth()], // months are zero indexed
                day = date.getDate(),
                hour = date.getHours(),
                minute = date.getMinutes(),
                second = date.getSeconds(),
                hourFormatted = hour % 12 || 12, // hour returned in 24 hour format
                minuteFormatted = minute < 10 ? "0" + minute : minute,
                morning = hour < 12 ? "am" : "pm";

            return day + "-" + month + "-" + year;
        }


        function ConfirmDeliveredAction(Id) {
            alert(Id);
            swal({
                title: 'Are you sure?',
                text: "Delivered",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ok!'
            }).then((result) => {
                if (true) {
                    $.ajax({
                        url: '/Shipper/Shipper/ShipperDelivred',
                        type: "POST",
                        data: { Id: Id },
                        success: function (data) {
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            // Handle error here
                        }
                    });
                }
            });
        }




    </script>
}




